name: Deploy Bot to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Upload code to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        source: "."
        target: "/home/ec2-user/SCinet/SCinetBot"
        overwrite: true
        exclude: ".git"


    - name: Restart Telegram bot
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          cd /home/ec2-user/SCinet/SCinetBot
          sudo systemctl daemon-reload
          sudo systemctl restart tg_bot.service
          sudo systemctl status tg_bot.service --no-pager
